<hostname>,pjsip.conf,vasip7.task3acrdemo.com,
<local_ip>,pjsip.conf,72.21.1.85 ,
<public_ip>,pjsip.conf,52.54.84.61,
<stun_server>,rtp.conf|res_stun_monitor.conf,stun.task3acrdemo.com,
<crt_file>,pjsip.conf|http.conf,\/etc\/asterisk\/keys\/star.pem,
<crt_key>,pjsip.conf|http.conf,\/etc\/asterisk\/keys\/star.key,
<cdr_host>,/etc/odbc.ini,ace-direct-mysql.ceq7afndeyku.us-east-1.rds.amazonaws.com,
<cdr_db>,/etc/odbc.ini,cdr,
<cdr_table>,cdr_adaptive_odbc.conf|cdr_odbc.conf,vasip7,
<cdr_user>,res_odbc.conf|/etc/odbc.ini,asterisk,
<cdr_pass>,res_odbc.conf|/etc/odbc.ini,2tZTp&b49#TSFYc2,
