<hostname>,pjsip.conf,HOSTNAME,
<local_ip>,pjsip.conf,LOCAL_IP,
<public_ip>,pjsip.conf,x.x.x.x,
<kamailio_local_ip>,pjsip.conf,KAMAILIO_PRIVATE_IP,
<kamailio_fqdn>,pjsip.conf,KAMAILIO_FQDN,
<asterisk_secret>,pjsip.conf,ASTERISK_SECRET,
<stun_server>,rtp.conf|res_stun_monitor.conf,STUN_FQDN,
<crt_file>,pjsip.conf|http.conf,\/etc\/asterisk\/keys\/asterisk.pem,
<crt_key>,pjsip.conf|http.conf,\/etc\/asterisk\/keys\/asterisk.key,
<cdr_host>,/etc/odbc.ini,DB_URL,
<cdr_db>,/etc/odbc.ini,CDR_DB,
<cdr_table>,cdr_adaptive_odbc.conf|cdr_odbc.conf,CDT_TABLE_NAME,
<cdr_user>,res_odbc.conf|/etc/odbc.ini,asterisk,
<cdr_pass>,res_odbc.conf|/etc/odbc.ini,DB_PASSWORD,
